/*Align items aligns items along cross axis
  Cross axis is opposite of main axis. For rows it is vertical line, for columns it is horizontal line
  Other options for align-items include flex-start, flex-end, center, stretch, baseline*/

<style>
  #box-container {
    background: gray;
    display: flex;
    height: 500px;
    align-items: center;
  }
  #box-1 {
    background-color: dodgerblue;
    width: 200px;
    font-size: 24px;
  }

  #box-2 {
    background-color: orangered;
    width: 200px;
    font-size: 18px;
  }
</style>

<div id="box-container">
  <div id="box-1"><p>Hello</p></div>
  <div id="box-2"><p>Goodbye</p></div>
</div>
